*{
    text-align: center;
}
#mainTopic{
    color:blue;
}
h1,h3,h5{
    font-family:Georgia;
}
.paragraph{
    color:white;
    background-color:cornflowerblue;
}
/* p:nth-of-type(n){
    color:white;
    background-color:cornflowerblue;
} */
div button{
    background-color:purple;
    color:azure;
}
/* .mycolor button{
    background-color:purple;
    color:azure;
} */
/* #myid button{
    background-color:purple;
    color:azure;
} */
button:hover{
    background-color:yellow;
    color:blue;
}
p:nth-of-type(2n+1){
    background-color:yellow;
}
h1:first-letter{
    color:red;
}
/* input[type="checkbox"]:checked + label{
    color:darkgray;
} */
#yes:checked + label{
    color:darkgreen
 }