*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: hidden;
}
body{
    background-color: #000;
     color: #fff;
}
.main{
    display: flex;
    height: 100vh;
    padding: 1rem;
}
.sidebar{
    background-color: black;
    border-radius:1rem ; /*1rem=16px, 2rem=32 ,...*/
    width: 350px;
    margin-right: 0.6rem;
}

.main-content{
    background: #121212;
    flex: 1;
    border-radius:1rem ;
    overflow: auto;
    padding: 0 1rem 0 1rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem ;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    /* font-size: 1.25rem; */
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 20px;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100vh;
    margin-top: 0.59rem;
    padding: 0.5rem 0.75rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.5;
    margin-right: 2rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    border-radius: 0.75rem;
    height: 8rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    margin-top:1.25rem ;
    font-size: 0.7rem;
    opacity: 0.85;
}
.badge {
    display: inline-flex;                
    align-items: center;          
    justify-content: center;      
    background-color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 100px;
    padding:0.25rem 1rem ;
    margin-top: 1.25rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #000;
    color: #fff;
   
}
.dark-badge i {
    font-size: 1rem;             
    line-height: 1;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
}
.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 2rem;
}
@media (max-width:1021px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius:0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-img{
    width: 100%;
    border-radius:0.5rem;
}
.card-tital{
    font-weight: 600;
    margin-top:1rem ;
}
.card-info{
    font-size: 0.8rem;
    margin-top:1rem;
    opacity: 0.7;
}
.card-tital:hover{
    font-weight: 800;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top:1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*1 column*/
.Album{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AlbumImage{
    border-radius: 10px;
    margin-right: -1rem;
}
.Song{
    font-size: 1.2rem;
    font-weight: 600;

}
.singer{
    font-size: 1rem;
    opacity: 0.7;

}
.Albumimg{
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
}
.Album1{
    height: 2rem;
    width: 2rem;
    margin-top: 0.4rem;
}
.Album2{
    height:3rem;
    width: 3rem;
    
}
/*2 column*/
.player{
    width: 50%;
}
.player-controls-icon{
    height: 1rem;
    margin: 1rem;
    opacity: 0.7;
}
#PlayMe{
    height: 1.8rem;
    width: 1.8rem;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.player-controls-icon:hover{
    opacity: 1;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.progress-bar{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    flex-wrap: wrap;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: white;
    border-radius: 100px;
    height: 0.3rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
/*3 column*/
.Controls{
    width: 25%;
    display: flex;
    margin-left: 12rem;
    align-items: center;
    gap: 1rem;
}
.control-icon{
    height: 2rem;
}
.control-icons{
    height:1.5rem;
}
.control-icon1{
    height:3rem;
}