.hello{
    height: 400px;
    width: 400px;
    color: black;
    font-size: 20px;
    background-color: pink;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation:function 10s 3s  5 ease-in ;
    animation: function2 15s 4 ease;
}
/* @keyframes function{
  
} */
@keyframes function2{
    from{
        font-size: 20px;
        width: 10px;

    }
    to{
        font-size: 50px;
        width: 400px;
        background-color: aqua;
        border-radius: 50%;
    }
}