body{
    font-family: georgia;
}
h1{
    text-align:center;
    text-decoration: underline;
}
h3{
    text-align: center;
    color:black;
}
a{
    color:rgb(0, 255, 0);
    text-decoration: none;
}
P{
    color:#A52A2A;
    line-height:30px;
}
textarea{
    color:rgb(0,0,0);
}
button{
    background-color:white;
    color:blueviolet;
}
span{
    text-decoration:underline;
}