h1{
    font-weight:800;
    text-decoration:overline;
    text-align: center;
}
h2{
    letter-spacing:5px;
    font-weight:100;
    text-decoration:dotted underline;
    text-align: justify;
}
h3{
    font-weight:normal;
    text-decoration: line-through;
    text-align: end;
}
h4{
    font-weight:500;
    text-align:start;
    text-decoration:blue underline;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: normal;
    letter-spacing:normal;
    font-weight:bold;
    text-align:justify;
    text-decoration:red underline wavy;
}