.Container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    grid-gap:10px;
}
.Container div{
    background-color:pink;
    font-size:1.5rem;
}
.header{
    grid-column: 1 / span 12;
}
.sidebar{
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
}
.navigation{
    grid-column: 4 / span 6;
}
.main{
    grid-column: 4 / span 6;
    grid-row: 3 / span 9 ;
}
.ads{
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}
.footer{
    grid-column: 1 / span 12;
}
@media (max-width:720px) {
    .navigation{
    grid-column: 4 / span 9;
    }
    .main{
        grid-column: 3 / span 12;
        grid-column: 4 / span 9;
    }
    .ads{
        grid-column: 1 / span 3;
        grid-row: 12 / span 1;
    }
    .footer{
        grid-column: 4 / span 9;
        grid-row: 12 / span 1
    }
}