h1{
    background-color: aqua;
    /* height: 45px; */
    border: 2px solid black;
}
@media (max-width:400px){
    h1 {
    background-color: blue;
    }
}
@media (orientation:landscape){
 h1 {
    background-color: red;
    }
}