/* div{
    height: 200px;
    width: 200px;
    border: 3px red solid;
    margin: 5px;
    background-color:aqua;
    display:inline-block;

} */
h1{
    border: black solid 1px;
    width:50%;
}
#Outer{
    height: 500px;
    width: 500px;
    background-color:pink;
    margin: 50px;;
}
#inner{
    height:200px;
    width:200px;
    background-color:skyblue;
    margin-left:10%;
}