/* div{
   
    background-color:skyblue;
    text-align: justify;
    font-family:Georgia;
    border-style:solid;
    border-color: rgb(245, 100, 124);
    border-width:5px;
}
h1{
    border-style:dashed;
    border-color: rgb(245, 100, 124);
    border-width:5.10px;
} */
div{
    height:150px;
    width:450px;
    border:5px solid orange;
    border-radius: 30px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px; */
    padding:20px;
}
button{
    border-radius: 10px;
    padding-right:25px;
    padding-left:25px;
}
/* h1{
    margin:0%;
} */