div{
    height: 150px;
    width: 300px;
    background-color:gray;
    border: 5px dotted black;
    margin-top:20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left:2em;
    padding:1em;
} 
 /*Q1*/

.box{
    height: 100px;
    width: 100px;
    background-color:pink;
    border:2px black solid;
    border-radius:100px;
    display:inline-block;

 }  
 /*Q2 */
li{
    display: inline;
}/*Q3*/