.Outer{
    height:200px;
    width:70px;
    border:black 2px solid;
}
.Iner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin:10px;
}
#red{
    border-radius: 50% ;
    background-color:red;
}
#yellow{
    border-radius: 50%;
    background-color:yellow;
}
#green{
    border-radius: 50%;
    background-color:green;
}