#Container{
    height: 400px;
    width: 400px;
    margin: 50px auto;
    border:5px solid rgb(99, 229, 229);
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#Container div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
}