#Container{
    height: 50px;
    width: 900px;
    border:2px solid aqua;
    background-color: rgb(209, 51, 109);
    border-radius: 12px;
    display: flex;
    justify-content:flex-start;
    align-content: center;
}
#Container div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left:5px;
    line-height:50px;;
}