body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h3{
    margin-top: 50px;
    text-align: center;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
div{
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 700px;
    margin: auto;
    margin-top: 50px; 
    text-align: center;
    padding-top: 50px;
}