body {
    text-align: center;
}

.gamepad1 {
    display: flex;
    margin-top: 3rem;
    margin-left: 44%;
}

.gamepad2 {
    display: flex;
    margin-top: 0.9rem;
    margin-left: 44%;
}

.red {
    border: 4px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: #d95980;
    margin-right: 15px;
}

.green {
    border: 4px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: #63aac0;
}

.orange {
    border: 4px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: #f99b45;
    margin-right: 15px;
}

.blue {
    border: 4px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: purple;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}