div{
    height: 350px;
    width: 350px;
    background-color:rgba(145, 255, 0, 0.631);
    /* transition: 5s;
    transition-delay: 2s; */
    margin:0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in-out 2s ;
}  
div:hover{
   margin-top: 30%;

}