div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    margin:20px;
    display: inline-block;
}
#static{
    background-color:black;
    position: static;
    top: 100px;
    left: 100px;
}
#Relative{
    background-color: aqua;
    position: static;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color: blue;
    position: static;
    top: 100px;
    left: 100px;
}
#fixed{
    background-color: red;
    position: static;
    top: 100px;
    left: 100px;
}

#static:hover{
    background-color:pink;
    position: static;
    top: 100px;
    left: 100px;
}
#Relative:hover{
    background-color: lime;
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute:hover{
    background-color: gray;
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed:hover{
    background-color:orange;
    position: fixed;
    top: 100px;
    left: 100px;
}